@model string
<p class="stars link" id="stars_link">
    @Html.Hidden(Model, 0)
    <a class="star_01" href="#">&nbsp;</a><span class="star_01">&nbsp;</span>
    <a class="star_02" href="#">&nbsp;</a><span class="star_02">&nbsp;</span>
    <a class="star_03" href="#">&nbsp;</a><span class="star_03">&nbsp;</span>
    <a class="star_04" href="#">&nbsp;</a><span class="star_04">&nbsp;</span>
    <a class="star_05" href="#">&nbsp;</a><span class="star_05">&nbsp;</span>
</p>
